.Painting {
  width: 317px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  overflow: auto;
}

.Square {
  border: 1px solid black;
  width: 33%;
  height: 100px;
  box-sizing: border-box;
}

@media (min-width: 500px) {
  .Painting {
    height: 400px;
    width: 317px;
  }
}
