.Painting {
  width: 317px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  align-content: baseline;
  flex-wrap: wrap;
  overflow: auto;
}

.Square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
