.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  max-height: 80vh;
  top: 10%;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  overflow: auto;
  height: 70vh;
  padding: 0 1rem 1rem;
  /* Firefox can only have thin and a color */
  scrollbar-width: thin;
  scrollbar-color: lightblue grey;
}

.content::-webkit-scrollbar {
  width: 16px; /* width of the entire scrollbar */
}

.content::-webkit-scrollbar-track {
  background: grey; /* color of the tracking area */
  border-radius: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: lightblue; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  border: 4px solid transparent; /* creates padding around scroll thumb */
  background-clip: padding-box;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
