*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.row {
  max-width: 120rem;
  margin: 0 auto;
}

/* CSS HEX */
:root {
  --rubine-red: #ca2e55ff;
  --navajo-white: #ffe0b5ff;
  --raw-umber: #8a6552ff;
  --dark-sienna: #462521ff;
  --vegas-gold: #bdb246ff;
}
