* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.searchbar {
  margin-top: 1rem;
  border: 1px solid #f7f7f7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.searchbar__text-input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
}
