.backdrop {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2rem);
  -moz-backdrop-filter: blur(2rem);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
