.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  height: 300px;
  width: 500px;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 1001;
  opacity: 0;
  transform: translate(-50%, -100vh);
  transition: 0.3s all;
}

.is-open {
  opacity: 1;
  transform: translate(-50%, -50%);
}
