.ColorControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.ColorControl > div {
  width: 150px;
  font-weight: bold;
}

.ColorControl button {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 15px;
  border: 1px solid #141414;
  outline: none;
}

.ColorControl .More {
  background: #141414;
  color: #ffffff;
}

.ColorControl .More:hover,
.ColorControl .More:active {
  background: #2c2c2c;
}

.ColorControl .Less {
  background: #ffffff;
  color: #141414;
}

.ColorControl .Less:hover,
.ColorControl .Less:active {
  background: #f2f2f2;
}
