.Blog ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.Blog li {
  margin: 10px;
}

.Blog a {
  text-decoration: none;
  color: black;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active,
.Blog a.my-active {
  color: orange;
}
